.filters {
  margin: 3vw 5vw;
  background: #7EF1AE;
  height: 21vh;
}

.filters h1, h3 {
  margin-left: 3vw;
  padding-top: 1vh;
}

.home__main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 3vw 5vw;
}